{% extends "ProyectowebApp/base.html" %}

{% block content %}

<div class="container">

	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
		    
            Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó.
            Deberías recibirlos en breve.
		  </p>
		  <p class="m-auto p-2">
		    Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró,
            y revisa tu carpeta de spam.
		  </p>
		  <p class="m-auto p-2"><a href="{% url 'index' %}">Regresar al inicio</a></p>
	</div>
</div>

{% endblock %}