{% extends "ProyectowebApp/base.html" %}
{% load static %}

{% block content %}
<!--bucle foreach para proximos equipos que se integren y lo lea-->
<section>
    <div class="contenedor">Seccion Teams 
        
            <h1>Modificar teams</h1>
       
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
        
            <input type="reset" value="limpiar" >
            <input type="submit" value="modificar">
            
            
        
        </form>
        
        {{ mensaje }}


    </div>
    <div class="contenedorP">
        <div class="HeaderPirata">
            <div class="logo">
                <h2 class="titulo">Todos los equipos</h2>
            </div>
        </div>
        <section class="grid" id="grid">
            <div class="item">    
    {% for equipo in equipos %}
    
                <div class="item-contenido">
                    <p><img src="{{equipo.imagen.url}}" alt=""></p>
                    <div class="logo">
                        <h2 class="nombreAgente" >{{equipo.titulo}}</h2>
                    </div>
                    <p class="textos">{{equipo.contenido}}</p>
                    
                    <!--<h2 class="titulo">{{equipo.contenido}}</h2>-->
                </div>
    {% endfor %}
</div>
</section>
    <script src="https://unpkg.com/web-animations-js@2.3.2/web-animations.min.js"></script>
    <script src="https://unpkg.com/muuri@0.8.0/dist/muuri.min.js"></script>
    <script src="{% static 'ProyectowebApp/js/Principal.js' %} "></script>
{% endblock %}